<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <title>Glossary</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-white border border-white rounded-circle px-2" 
                href="{{url_for('list_words')}}">
                D-word
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{{url_for('list_words')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="/">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{{url_for('sign_up')}}">Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Header -->
    <header class="masthead">
        <!-- <div class="overlay"></div> -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-0">
                    <div class="site-heading text-white p-3">
                        <h2>Dictionary</h2>
                        <span class="subheading bg-dark">
                            A listing of lexemes from the lexicon of one or more specific languages, 
                            often arranged alphabetically (or by radical and stroke for ideographic languages),
                            which may include information on definitions, usage, etymologies, pronunciations, 
                            translation, etc..It is a lexicographical reference that shows inter-relationships 
                            among the data.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Section for flash messages -->
    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <h5 class="bg-dark text-align text-warning col-md-6 offset-m3">
                {{ message }}
            </h5>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>
    <!-- Main Content -->
    <div class="container mt-3">

        {% block content_to_render %}
        {% endblock %}

    </div>
    <hr class="bg-dark">
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="https://twitter.com/" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/josygeorge/" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>

                    <div class="copyright text-center text-muted font-italic">
                        Full Stack Milestone Project using Flask, June 28 &copy; Josy George, 2021
                    </div>
                    <div class="text-center text-muted">
                        <h6 class="copyright text-muted mt-3 mb-0 py-0">
                            Full Stack Software Development [(Jan-Aug) 2021 Batch]
                        </h6>
                        <p class="copyright mb-0 mt-3 py-0 font-italic">
                            Diploma Course by Canadian Business College,Toronto, CA
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Custom JavaScript -->
    <script src="{{ url_for ('static', filename='js/script.js') }}"></script>
</body>
</html>