{% extends "base.html" %}
{% block content_to_render %}
<div class="card bg-dark text-white">
    <div class="card-header text-uppercase">Edit Word and it's Definitions</div>
    <div class="card-body border border-white mx-3 mb-3">
        <div id="edit_word_definition" class="row edit_word_definition mt-3">
            <div class="col-lg-8 col-md-10 mx-auto">
                <form method="POST" action="{{url_for('edit_word', word_id=word._id)}}" class="needs-validation" novalidate>
                    <!-- Word Name -->
                    <div class="form-group border border-white p-2 word_name">
                        <i class='fas fa-bookmark'></i>
                        <label for="word_name">Word</label>
                        <input type="text" class="form-control" id="word_name" 
                            name="word_name" value="{{word.name}}" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>

                    <!-- Definitions [Array of inputs]-->
                    <div class="form-group border border-white p-2 definitions">
                        <i class='fas fa-book'></i>
                        <label for="definitions">Definitions</label>

                        <!-- Looping the list array -Assigning value -->
                        {% for definition in word.definitions %}
                            <input type="text" class="form-control mb-2 definition" id="definitions" 
                                name="definitions[]" value="{{definition}}" 
                                placeholder="Main definition" required>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        {% endfor %}

                        <!-- add definition field -->
                        <div id="icon-add-definition-textbox" class="text-right hover-me">
                            Add more <i class='fas fa-plus-square'></i>
                        </div>
                    </div>

                    <!-- Synonyms [Array of inputs]-->
                    <div class="form-group border border-white p-2 synonyms">
                        <i class='fas fa-book'></i>
                        <label for="synonyms">Synonyms</label>

                        <!-- Looping the list array -Assigning value -->
                        {% for synonym in word.synonyms %}
                            <input type="text" class="form-control mb-2 synonym" id="synonyms" 
                                name="synonyms[]" value={{synonym}} 
                                placeholder="Main synonym" required>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        {% endfor %}

                        <!-- add synonym field -->
                        <div id="icon-add-synonym-textbox" class="text-right hover-me">
                            Add more <i class='fas fa-plus-square'></i>
                        </div>
                    </div>

                    <!-- Antonyms [Array of inputs]-->
                    <div class="form-group border border-white p-2 antonyms">
                        <i class='fas fa-book'></i>
                        <label for="antonyms">Antonyms</label>

                        <!-- Looping the list array -Assigning value -->
                        {% for antonym in word.antonyms %}
                            <input type="text" class="form-control mb-2 antonym" id="antonyms" 
                                name="antonyms[]" value="{{antonym}}"
                                placeholder="Main antonym" required>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        {% endfor %}

                        <!-- add icon for new antonym field -->
                        <div id="icon-add-antonym-textbox" class="text-right hover-me">
                            Add more <i class='fas fa-plus-square'></i>
                        </div>
                    </div>
                    
                    <!-- Etymology -->
                    <div class="form-group border border-white p-2 etymology">
                        <i class='fas fa-bookmark'></i>
                        <label for="etymology">Etymology</label>
                        <input type="text" class="form-control" id="etymology" 
                            name="etymology" value="{{word.etymology}}" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    
                   
                    <!-- Submit -->
                    <button type="submit" class="btn btn-light">
                        Edit Word Definition &nbsp;<i class="fas fa-edit"></i>
                    </button>
                </form>
            </div>
        </div>
    </div> 
  </div>
  
{% endblock %}