{% extends "base.html" %}
{% block content_to_render %}

<div class="">
  <form method="POST" action="{{url_for('search')}}">
    <div class="col-md-12">
      <input class="search_input" type="text" name="query" placeholder="Search...">
      <a href="{{ url_for('list_words') }}" class="bg-dark btn text-light">Reset</a>
      <button type="submit" class="btn-primary btn text-shadow">
        <i class="fas fa-search left"></i> Search
      </button>
    </div>
  </form>
</div>
<hr class="bg-dark">

{% if words.count() > 0 %}
<div class="row text-center">
  {% for word in words %}

  <div class="col-sm-6 ">
    <a href="{{url_for('list_words_details', word_id=word._id)}}" class="bg-warning text-dark btn">
      <i class="fas fa-info-circle"></i> {{word.name}}
    </a>

    {% if session.user|lower == word.word_created_by or session.is_admin|lower == "on" %}
    <a class="list-word-remove-icon" data-toggle="modal" data-target="#{{word._id}}">
      <i class="fas fa-trash"></i>
    </a>

    <!-- The Modal -->
    <div class="modal" id="{{word._id}}">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Confirm</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            Are you sure to delete this word definition?
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <a href="{{url_for('delete_word', word_id=word._id)}}">
              <button type="button" class="btn btn-primary">Delete</button>
            </a>
            <button type="button" class="btn btn-info" data-dismiss="modal">No, Cancel</button>
          </div>

        </div>
      </div>
    </div>
    {% endif %}

    <hr>
  </div>
  {% endfor %}
</div>
{% else %}
<h2 class="my-5 text-uppercase">No results found</h2>
{% endif %}

{% endblock %}
